/.vs/ShopListMvc/v16/*
/ShopListMvc/bin/*
/ShopListMvc/obj/*
/.vs/ShopListMvc/DesignTimeBuild/*
/.vs/ShopListMvc/config/*
/.vs/ShopListMvc/v17/.suo
/ShopListMvc/.config/*
/ShopListMvc/Properties/*
/.vs/ShopListMvc/v17/*
